.footer {
  background-color: var(--color-contrast);
  color: var(--color-base);
  min-height: 70px;
  padding: 32px 0;
}

.container {
  max-width: var(--wide-size);
  margin: 0 auto;
  padding: 0 var(--spacing-50);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-20);
}

.siteTitle {
  font-family: var(--font-family-mv-office);
  font-size: clamp(1.125rem, 1.125rem + ((1vw - 0.2rem) * 0.125), 1.2rem);
  font-weight: 600;
}

.siteTitle a {
  color: var(--color-base);
  text-decoration: none;
}

.socialLinks {
  padding: 32px 0;
}

.socialList {
  list-style: none;
  display: flex;
  gap: 16px 48px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.socialList li {
  margin: 0;
}

.socialList a {
  color: var(--color-base);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.socialList a:hover {
  opacity: 1;
}

.socialList svg {
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.footerText {
  text-align: right;
  width: 100%;
  font-size: var(--font-size-small);
}

.footerText p {
  margin: 0;
}

.footerText a {
  color: var(--color-base-2);
  text-decoration: underline;
}

.footerText a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .footerText {
    text-align: center;
  }
}

