.newsletter {
  background-color: #ebf2fa;
  border: 1px solid var(--color-accent-5);
  border-radius: 16px;
  padding: var(--spacing-40) var(--spacing-50);
  margin: var(--spacing-50) 0;
  box-shadow: var(--shadow-deep);
}

.container {
  max-width: var(--content-size);
  margin: 0 auto;
  text-align: center;
}

.image {
  display: flex;
  justify-content: center;
  margin-bottom: var(--spacing-20);
}

.profileImage {
  border-radius: 14px;
  border: 1px solid var(--color-accent-5);
}

.title {
  font-family: var(--font-family-mv-office);
  font-size: var(--font-size-x-large);
  margin: 0 0 var(--spacing-10) 0;
}

.description {
  font-size: var(--font-size-medium);
  margin: 0 0 var(--spacing-30) 0;
}

.actions {
  display: flex;
  justify-content: center;
}

@media (max-width: 767px) {
  .newsletter {
    padding: var(--spacing-30) var(--spacing-20);
  }
}

